extends layout

block content
  .page-signin.container(ng-controller='signinCtrl' ng-init='init()')
    p.title Sign In
    .form-ctnr
      form(ng-submit='login()')
        p USERNAME
        input.form-control(type='text' ng-model='loginForm.username' required autofocus)
        p PASSWORD
        input.form-control(type='password' ng-model='loginForm.password' required)
        .row
          .col-xs-6
            a(href='/sign-up') SIGN UP
          .col-xs-6
            button.btn.btn-success.right(type='submit' ng-disabled='reqInProgress') SIGN IN
        p.error {{loginError}}